### macOS ###
.DS_Store

### Editors ###
# WebStorm / JetBrains
.idea/

# Vim / Neovim
*~

### Node.js ###
npm-debug.log

### Logs & Backups ###
log/
*.log
*.backup

### Tmux ###
tmux/plugins/

### Zsh ###
.zcompdump
.zcompcache
.zsh_history
.zsh_sessions
.zsh_sessions_history

### App Configs ###
raycast/
